#buttonenter {
    position: fixed;
    border: none;
    background-color: #FFEDDF;
    bottom: 50px;
    left : 650px;
}

#buttoncontinue {
    position: sticky;
    border: none;
    background-color: #EAE7E0;
    bottom: 1%;
    left: 950px;
}

#buttoncontinueresults {
    position: sticky;
    border: none;
    background-color: #EAE7E0;
    left: 960px;
}

#buttonback {
    background-color: #EAE7E0;
    position: sticky;
    border: none;
    bottom: 100px;
    left: 10px;
}

#buttonbackadd {
    background-color: #dbc6b1;
    position: sticky;
    border: none;
    top: 10px;
    left: 10px;
}

.buttondel{
    background-color: #dbc6b1;
    position: relative;
    left : 420px;
    top: -35px;
    border: none;
}

#buttondel{
    background-color: #dbc6b1;
    position: absolute;
    right : 100px;
    bottom: 410px;
    border: none;
}

#buttonadd{
    background-color: #dbc6b1;
    position: sticky;
    border: none;
    width: 100px;
    left: 1000px;
    top: 0px;
}

#buttonfinish{
    background-color: #dbc6b1;
    position: sticky;
    border: none;
    left: 1050px;
}

#buttondelete{
    background-color: #f9eddc;
    position: absolute;
    right : 420px;
    bottom: 20px;
    border: none;
}

#buttonbackdelete{
    background-color: #f9eddc;
    position: absolute;
    border: none;
    top: 10px;
    left: 10px;
}

#buttoncontinuetakedate {
    background-color: #f9eddc;
    position: sticky;
    border: none;
    left: 1200px;
}

.correct{
    background-color: green;
    width: 200px;
}

.incorrect {
    background-color: red;
    width: 200px
}

input {
    font-size: 30px;
}

td, th {
    padding-left: 20px ;
    padding-right: 20px ;
    text-align: center;
}